{% extends "KTALDE_web/base.html" %}
{% load static %}

{% block title %}In Game{% endblock %}

{% block content %}
<div class="game-container">
  <div style="text-align:center; color:white; padding: 50px 0;">
    <iframe src="{% static 'KTALDE_web/pdf/ExpertInstructions.pdf' %}" 
            width="800px" 
            height="600px" 
            style="border: none;">
    </iframe>
  </div>
  <a href="{% url 'startgame' %}" class="back-link">Back to Start</a>
</div>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="{% static 'KTALDE_web/js/lamp-controller.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}