{% extends "KTALDE_web/base.html" %}
{% load static %}

{% block title %}In Game{% endblock %}

{% block content %}
{% block additional_head_content %}
<script>
  window.LAMPI_CONFIG = {
    mqtt: {
      hostname: window.location.hostname,
      websocketsPort: 50002
    },
    topics: {
          setConfig: "devices/{{ device.device_id }}/lamp/set_config",
          lampChanged: "devices/{{ device.device_id }}/lamp/changed",
          lampServiceState: "devices/{{ device.device_id }}/lamp/connection/lamp_service/state",
          lampUIState: "devices/{{ device.device_id }}/lamp/connection/lamp_ui/state",
          gameStarted: "devices/{{ device.device_id }}/game/started",
          pubAllPuzzleState: "game/+/puzzleState/sent",
          pubOnePuzzleState: "game/{{ device.device_id }}/puzzleState/sent",
          subPuzzleState: "game/{{ device.device_id }}/puzzleState/received"
      }
  }
</script>
{% endblock %}
<div class="game-container" x-data="lampController()">
  <div style="text-align:center; color:white; padding: 50px 0;">
    <iframe src="{% static 'KTALDE_web/pdf/ExpertInstructions.pdf' %}" 
            width="800px" 
            height="600px" 
            style="border: none;">
    </iframe>
  </div>
  <a href="{% url 'startgame' %}" class="back-link">Back to Start</a>
</div>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="{% static 'KTALDE_web/js/lamp-controller.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}